# init.recovery.keymint.rc - TEE / KeyMint / Gatekeeper / Weaver / SE services
# Xiaomi 14T Pro (rothko) - MediaTek MT6989, Android 14.1 recovery
#
# Vendor binaries come from the mounted /vendor and /odm partitions.
# se_omapi is built into the recovery ramdisk (PRODUCT_PACKAGES += se_omapi.recovery;
# requires recovery_available:true on android.se.omapi + android.hardware.secure_element
# AIDL interfaces - see dash-recovery-tools apply-patches.sh).

service tee-supplicant /vendor/bin/tee-supplicant
    class core
    user system
    group system secure_element nfc
    capabilities SYS_RAWIO
    setenv LD_LIBRARY_PATH /system/lib64/compat:/system/lib64
    seclabel u:r:recovery:s0
    disabled

service vendor.keymint-mitee /vendor/bin/hw/android.hardware.security.keymint@3.0-service.mitee
    class early_hal
    user system
    group system drmrpc
    setenv LD_LIBRARY_PATH /system/lib64/compat:/system/lib64
    seclabel u:r:recovery:s0
    oneshot

service vendor.gatekeeper_mitee /vendor/bin/hw/android.hardware.gatekeeper-service.mitee
    class hal
    user system
    group system
    setenv LD_LIBRARY_PATH /system/lib64/compat:/system/lib64
    seclabel u:r:recovery:s0
    disabled

service vendor.weaver_nxp /vendor/bin/hw/android.hardware.weaver-service.nxp
    class hal
    user 2902
    group system drmrpc
    capabilities WAKE_ALARM
    setenv LD_LIBRARY_PATH /system/lib64/compat:/system/lib64
    seclabel u:r:recovery:s0
    disabled

service vendor.secure_element_hal_service /vendor/bin/hw/vendor.xiaomi.hardware.secure_element-service
    class early_hal
    user system
    group system secure_element nfc
    setenv LD_LIBRARY_PATH /system/lib64/compat:/system/lib64
    seclabel u:r:recovery:s0
    disabled

service se_omapi /system/bin/se_omapi
    class hal
    user system
    group system secure_element nfc
    setenv LD_LIBRARY_PATH /system/lib64/compat:/system/lib64
    seclabel u:r:recovery:s0
    disabled

service touchfeature-service /odm/bin/hw/vendor.xiaomi.hw.touchfeature-service
    class hal
    user root
    group root system input
    capabilities SYS_NICE
    setenv LD_LIBRARY_PATH /odm/lib64:/system/lib64/compat:/system/lib64
    seclabel u:r:recovery:s0
    disabled

service rothko-latemount /system/bin/sh /system/bin/rothko-latemount.sh
    user root
    oneshot
    disabled
    seclabel u:r:recovery:s0

service delayed_gatekeeper /system/bin/sh -c "sleep 1; start vendor.gatekeeper_mitee"
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on boot
    start rothko-latemount